
{%extends "base-frontend.html" %}
{% block head %}


{% endblock %}

{% load staticfiles%}

{% block scripts %}

{% endblock %}

{%block content%}

        <!-- begenin form login block-->
        <div class="row">
            <div class=" col-md-12 forms ">

                <div class="row">

                    <div class=" col-xs-1 col-sm-3  col-md-3">
                   </div>

                    <div class=" col-xs-10 col-sm-6  col-md-5 ">
                        <!--form column -->
                        <h4>Log in</h4>
                        <br>

                        <form class="form-group" name="login" action="/accounts/login/"
                        enctype="multipart/form-data"  method="POST">
                        {% csrf_token %}
                            <p>
                                <input type="text" class=""
                        name="username" id="username" placeholder="USERNAME"></p>
                            <p>
                                <input type="password" class=""
                         name="password" id="password" placeholder="PASSWORD"></p>
                            <p>
                           
                              <input class="btn " role="button"
                               type="submit" placeholedr="LOG IN" value="LOG IN" >
                              </p>
                              
                               {% if form.errors %}
                                 <p> Your username and password didn't match. Please try again.    </p>
                                  {% endif %}

                                <p>

                            	    <a href="/accounts/register"  title="e" class="btn" role="button">REGISTER</a>
                            </p>

                        </form>
                    </div>

                   

                </div>
            </div>
        </div>
        <!-- end form login block-->

        {%endblock%}
