{% extends "base-frontend.html" %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        <div class="col-md-12 forms ">

            <div class="row">

                <div class=" col-xs-1 col-sm-3  col-md-3" ></div>
                <div class=" col-xs-10 col-sm-6  col-md-5 ">
                    <h4>Register</h4><br>
                    </p>
                    <form method="post" action="/accounts/register/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <p>
                                {{ form.username }}
                            </p>

                            <div class="span2 pl20">
                                <span class="errorMessage">{{ form.username.errors }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                {{ form.email }}
                            </p>

                            <div class="span2 pl20">
                                <span class="errorMessage">{{ form.email.errors }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                {{ form.password1 }}

                            <p>

                            <div class="span2 pl20">
                                <span class="errorMessage">{{ form.password1.errors }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                {{ form.password2 }}
                        </div>
                        <div class="span2 pl20">
                            <span class="errorMessage">{{ form.password2.errors }}</span>

                            <p>
                        </div>
                        <!-- div class="row">
                            <div class="span2" style="margin-bottom: 10px">
                                <img src="/static/images/captcha/image.png" alt="captcha">
                            </div>
                        </div -->
                        <div class="row">
                            <p>
                                {{ form.captcha }}
                            </p>

                            <div class="span2 pl20">
                                <span class="errorMessage">{{ form.captcha.errors }}</span>
                            </div>
                        </div>
                        {% if form.errors and not form.captcha.errors %}
                            <div class="row">
                                <div class="span5 errorMessage">
                                    <p>
                                        Your username and password didn't match. Please try again.
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="span2">
                                <input type="submit" value="Register" class="btn"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 