  {% load staticfiles %}
<!DOCTYPE html>
  <html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <meta name="description" content="Stagevids" >

  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">

  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/project_style.css" %}">

  <script type="text/javascript" src="{% static "js/jquery-2.1.1.js" %}"> </script>

  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"> </script>


    <script type="text/javascript"  src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript"  src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript"  src="{% static "js/utils.js" %}"></script>

    <!-- -->

      {% block head %}

  <style>


  </style>
  {% endblock %}
</head>

 {% block scripts %}{% endblock %}

<body>



  <!--begin header block -->
  <nav class="navbar navbar-default nav-epv" role="navigation">

        <a class="navbar-brand " href="/index">BRAND </a>

    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
       data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right ">


        {% if user.is_authenticated %}
        <li>
            <a href="/accounts/logout" class="">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="/accounts/login" class="">Login</a>
        </li>
        {% endif %}
        {% if user.is_admin %}

            <li>
                <a href="/admin">Admin</a>
            </li>


        {% endif %}
      </ul>
    </div>
    </nav>
  <!--end header block -->

  <!--begin container block -->
  <div class="container-fluid">

  <div class="row">
 <div id = "container2" class=" container2 ">

 </div>
    {% block content%} {% endblock %}
  </div>


    <!-- begenin footer block-->
    <div class="row">
      <div class="col-md-12 footer">

      </div>
    </div>
    <!-- end footer block--> </div>
  <!--end container block -->



</body>
</html>