﻿{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/project_style.css" %}">
  <script type="text/javascript" src="{% static "js/jquery-2.1.1.js" %}"> </script>
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"> </script>

    <script type="text/javascript"  src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript"  src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript"  src="{% static "js/utils.js" %}"></script>
  {% block head %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

{% block scripts %}
{% endblock %}
<body style="padding:15px">
<div class="row">
    <div class="span2">
        <a href="/index">Home</a>
    </div>
    <div class="span2 pull-right">
            {% if user.is_authenticated %}
                <div>
                    <a href="/accounts/logout">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="/accounts/login">Login</a>
                </div>
            {% endif %}
	{% block pull_right %}
	{% endblock %}
              {% if user.is_admin %}
                <div>
                    <a href="/admin">Admin</a>
                </div>
              {% endif %}
    </div>
</div>
  
  <div>
<div class="navbar">
        <div class="container">

                <ul class="nav">
                    <li id="" class="">
                        <a href="#">Users</a>
                    </li>
                    <li id="" class="">
                        <a href="">Menu1</a>
                    </li>                    
                    <li id="" class="">
                        <a href="#">Menu2</a>
                    </li>                    
                    <li id="" class="">
                        <a href="#">Menu3</a>
                    </li>                    
                    <li id="" class="">
                        <a href="#">Menu4</a>
                    </li>                    
                    <li id="" class="">
                        <a href="#">Menu5</a>
                    </li>                    
                </ul>

    </div>
</div>
  {% block content %}{% endblock %}
  </div>

</body>
</html>
