{% extends "base-frontend.html" %}
{% load staticfiles %}
{% block scripts %}{% endblock %}



{% block content %}


    <!-- begenin trendingnow block-->
    <div class="row">

        <div class="col-md-12">



            <div class="row">


            </div>
        </div>

    </div>
    <!--end trendingnow block-->




{% endblock %}