/*style blocks*/
.nav-epv {
    /* background-image: url(img/background-nav.jpg);*/
    background-color: #E5E5E5;
    max-height: 100%;
    min-height: 55px;

    border-radius: 0px;
    font-size: 10px;
    margin-bottom: 0px;
}

.user-bar {
    width: 100%;
    text-align: right;
    min-height: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #E5E5E5;
}

.navbar-brand img {
    height: 47px;
    width: 216px;
    outline: none;
}

.epv-slogan {
    color: #EB3E02;
    font-size: xx-large;
    /*font-weight: 600;*/
}

.search-form {
    margin-left: 20%;

}

.search-input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    height: 40px;
    width: 300px;
    font-size: 16px;
    /*border-color: #FFFFFF;*/
    background-color: #E5E5E5;

}

.slider {

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
}

.slider img {

    height: 100%;
    width: 100%;
    outline: none;
}


.left-margin-player{

    width: 5.33333333%;
}

.player {

    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    padding-bottom: 1%;
    padding-top: 2%;
}
a .player1  {

 text-decoration: none;
}
.arrows{
    top: 30%;
    font-size: 30px;
    margin-top: 300px;

}
.arrows a{
     text-decoration: none;
    color: #FFFFFF;
}

.trendingnow {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    padding-top: 2%;

}

.trendingnow img {

    /*height: 100%;*/
    /*width: 100%;*/
    padding-bottom: 0%;
    height: 58%;
    width: 100%;
    outline: none;
}

.recentlyuploaded {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    padding-top: 2%;
}

.recentlyuploaded img {

    height: 100%;
    width: 100%;
    outline: none;
}
.user-page{
     padding-left: 8%;
    padding-right: 0px;
    /*padding-bottom: 1%;*/
    /*padding-top: 1%;*/

}
.user-page-name{
    padding-left: 0px;
    padding-top: 20px;
    margin-bottom: 25px;
    margin-left: 8%;
    margin-right: 8%;
    /*background: #E5E5E5;*/
     border-bottom: 1px solid  #E5E5E5;
}

.user-page-header{
     padding-left: 2%;
    padding-right: 8%;
    padding-bottom: 0%;
    padding-top: 0%;
    /*background: url("img/background-nav.jpg") no-repeat;*/
     /*background-size: contain;*/
    margin-left: 8% ;
    margin-right: 8%;
    min-height: 300px;

}
.user-avatar-change{
   top: 3px;
}
.user-avatar-change {
   font-size: 21px;
}

.user-avatar-change a:hover{
   font-size: 23px;
}
.user-avatar-change span{

    -o-opacity: 0.0;
    -moz-opacity: 0.0;
    -ms-opacity: 0.0;
    -khtml-opacity: 0.0;
    -webkit-opacity: 0.0;
    opacity: 0.0;
}

.user-avatar{
     position: relative;
    top: 148px;
    border: 2px solid #5C5C5C;
    height: 140px;
    width: 140px;
    /*background-size: 195px 130px;*/
}
.user-avatar-profile{
    border: 2px solid #5C5C5C;
    height: 140px;
    width: 140px;
    /*background-size: 195px 130px;*/
}

.user-avatar-comment{
    /*border: 1px solid #5C5C5C;*/
    border: none;
    height: 40px;
    width: 40px;
    /*background-size: 195px 130px;*/
}

.user-avatar img{
    /*border: 1px solid #5C5C5C;*/
    /*height: 130px;*/
    /*width: 195px;*/
}

.user-profile-video{
     padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 4%;
    padding-top: 2%;

}



.browse {

    padding: 5%;
    /*font-family: 'ProximaNova-Thin';*/
}

.forms {

    padding: 5%;
    outline: none;
}

.footer {
    background-color: #E5E5E5;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: right;

   max-height: 100%;
    min-height: 55px;
}

.search-two {
    background-color: #E5E5E5;

    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    padding-top: 2%;
    outline: none;
}

.search-two img {

    height: 100%;
    width: 100%;
    outline: none;
}

/* end style blocks*/
/* style button*/
.btn-epv {

    border-radius: 0px;
    margin: 15px;
    min-width: 75px;
    text-align: center;
    border: 1px solid #5C5C5C;
    background: #E5E5E5;
    font-size: 12px;
    font-weight: normal;
    outline: none;
}
.link-navbar {
    margin: 6px;
    font-size: 14px;
    font-weight: normal;
   /*font-weight: 600;*/
}
.user-navbar {
    margin-top: 19px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: normal;
   /*font-weight: 600;*/
}
.notification-navbar {
    margin-top: 21px;
    margin-left: 15px;
    font-size: 12px;
    /*font-weight: normal;*/
   font-weight: 600;
}

.btn-profile {

    border-radius: 0px;
    margin: 15px;
    min-width: 95px;
    text-align: center;
    border: 1px solid #5C5C5C;
    background: #E5E5E5;
    font-size: 12px;
    font-weight: normal;
    outline: none;
}

.btn-profile-link {
    /*font-size: 12px;*/
    padding-right: 15px;
    padding-top: 15px;
}




.btn-epv-red {
    border-radius: 0px;
    margin: 15px;
    min-width: 75px;
    text-align: center;
    border: 1px solid #EB3E02;
    background: #E5E5E5;
    font-size: 12px;
    font-weight: normal;
    outline: none;
}

.sm-btn {
    display: block;
    border-radius: 0px;
    margin: 20px;
    padding: auto;
    width: 207px;
    height: 50px;
    text-align: center;
    border: 1px solid #5C5C5C;
    outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;

}
.btn:hover,
.btn:focus,
.btn.focus {
  color:  #5C5C5C;
  text-decoration: none;
}
.forms-btn-reg {
    border-radius: 0px;
    background-color: #EB3E02;
    width: 100%;
    border: 1px solid #EB3E02;
    outline: none;
}

.forms-btn {
    border-radius: 0px;
    background-color: #7C7C7C;
    color: #FFFFFF;
    width: 100%;
    height: 34px;
    padding: 0px 0px;
    margin: 0px;
    /* border: 2px solid #7C7C7C;*/
    outline: none;
}

.forms-btn-browse {
    border-radius: 0px;
    background-color: #7C7C7C;
    color: #FFFFFF;
    width: 25%;
    border: 1px solid #7C7C7C;
    outline: none;
}


/* end style button*/

/* style forms*/
.forms-new-find {
    border-radius: 0px;
    background-color: #E5E5E5;
    width: 100%;
    border: 1px solid #5C5C5C;
    outline: none;

}

.forms-new {
    border-radius: 0px;
    width: 100%;
    height: 32px;
    border: 1px solid #5C5C5C;
    padding-left: 2%;
    outline: none;
}
.forms-comment {
    border-radius: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 32px;
    border: 1px solid #E5E5E5;
    padding-left: 2%;
    outline: none;
}
.forms-new-browse {
    border-radius: 0px;

    width: 100%;
    height: 32px;
    border: 1px solid #5C5C5C;
    padding-left: 15%;
    outline: none;
}

.forms-new-browse input {
    padding-left: 10%;
    outline: none;
}

.forms-new input {
    padding: 0px;
    outline: none;
}

.textarea {
    height: 60px;
}

.forms-text {
    text-align: center;
    outline: none;
}

/* end style forms*/

/* style checkbox*/
.checkbox-i input {
    display: none;
}

.checkbox {
    width: 360px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.checkbox div {
    clear: left;

}

.checkbox-i span {
    width: 20px;
    height: 20px;
    display: block;
    background-color: transparent;
    background: url("img/uncheck.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #5C5C5C;
}

.checkbox-i input:checked + span {
    /*background-color: #ffffff;*/
    background: url("img/check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: center;
}

/* end style checkbox*/

/* style dropdown social*/
.mark-social {
    font-weight: 400;
}

.nav-social {
    list-style: none;
    text-align: right;
}

.icon-s1 {
    float: right;

}
.icon-s1 a{
    text-decoration: none;
}

.nav-social li {
    float: right;
    position: relative;
    background: #E5E5E5;
}

.nav-social > li:first-of-type {
    border-radius: 0px 0 0 0px;
}

.nav-social > li:last-of-type {
    border-radius: 0 0px 0px 0;
}

.nav-social li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20%;
    border-radius: 0px;
}

.sub-nav-social {
    z-index: 300;
    position: absolute;
    float: left;
    border-top: 15px solid transparent;
    left: -9999px;
    list-style: none;
    padding: 0px;
    width: 320px;
}

.nav-social li:hover .sub-nav-social {
    left: 0;
}

.triangle-social {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    position: absolute;
    margin-top: 5px;
    left: -9999px;
}

.nav-social li:hover .triangle-social {
    left: 5px;
}

.sub-nav-social li {
    white-space: nowrap;
    border: 3px solid #FFFFFF;
    right: 70%;
    float: left;
}

.sub-nav-social > li:first-of-type {
    border-radius: 0px 0px 0 0;

}

.sub-nav-social > li:last-of-type {
    border-radius: 0 0 0px 0px;
}

.nav-social > li:hover > a {
    /*background: #2C3E50;*/
    transition: background ease .5s;
}

.sub-nav-social a {
    font-size: 90%;
    margin: 3px;
    transition: background ease .3s;
}

.sub-nav-social a:hover {
    background: #E5E5E5;
}

/* end style dropdown menu*/

/* style modal*/
.modal-epv {
    background-color: #E5E5E5;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 0px 0px 0 0;
    border: 1px solid transparent;
    outline: none;
}

/* style modal*/

/* style others*/

.red a{
    color:  #E51A23;
    font-weight: 600;
}
.red2 {
    color:  #E51A23;
    font-weight: 600;
}
.orange{
     color: #EB3E02;
}
.like {
    text-align: left;
}

.like img {
    height: 31px;
    width: 31px;
}

.like a {
    padding-left: 20%;
}

a {
    color: #5C5C5C;
}

a:hover {
    color: #E51A23;
}

.char {
    float: left;
    padding-left: 15px;
}

.char-vertical {
    clear: left;
}
.comment_block{
    min-height: 30px;
    padding-bottom: 8px;
    padding-top: 8px;

    display: inline-block;
    word-wrap: break-word;
    hight:auto;
}

.playlist{

     /*border-left: 1px solid #E5E5E5;*/
    padding-left: 2px;
    padding-right: 0px;
    margin-top: 2px;
    text-align: left;
}
.playlist-img{
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 2px;
}
.playlist-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 0px;
 }

.hider1-playlist{
     padding-left: 2px;
    padding-right: 0px;
}
.hider2-playlist{
     padding-left: 2px;
    padding-right: 0px;
    font-size: 14px;
}
/*
.hider2-playlist a:hover{
    font-weight: 600;
     padding-left: 0px;
    padding-right: 0px;
}
*/
.caption_playlist {
    padding-bottom: 3px;
    margin-botton: 1px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11px;
    /*font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /*  IE */
    text-overflow: ellipsis;
    content: attr(data-title);

}
.caption_battom {
    padding-bottom: 2px;
    margin-botton: 15px;
    padding-top: 5px;
    font-size: 13px;
    /*font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /*  IE */
    text-overflow: ellipsis;
    content: attr(data-title);

}
.caption_battom_v {
    padding-bottom: 6px;
    margin-botton: 15px;
    padding-top: 2px;
    font-size: 11px;
    /*font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:  #5C5C5C;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /*  IE */
    text-overflow: ellipsis;
    content: attr(data-title);

}

.caption_battom_right {
    padding-bottom: 2px;
    padding-top: 5px;
    text-align: right;
    font-size: 13px;
    /*font-family: Georgia, 'Times New Roman', Times,serif; */
    font-family: Verdana, Arial, Helvetica, sans-serif;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /*  IE */
    text-overflow: ellipsis;
    content: attr(data-title);
}
.caption_p1 {
    padding-right: 5px;
}
.caption_p2 {
    padding-left: 0px;
}

.glyphicon {
    color: #E51A23;
}

/* end style others*/

/* import old version*/
progress {
    /* стилевые правила */
    height: 28px; /*???*/
    border-radius: 3px;
    width: 100%; /*???*/
}

progress::-webkit-progress-bar {
    /* стилевые правила */
    background-color: white;
    border: 0;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    /* стилевые правила */
    background-color: #A1A1A1;
    border: 0;
    border-radius: 3px;
}

progress::-moz-progress-bar {
    /* стилевые правила */
    background-color: #A1A1A1;
    border: 0;
    border-radius: 3px;
}

#progress-label {
    width: 20%; /*width:81px;  ???*/
}

#progress-bar {
    margin-left: 0px;
    width: 100%; /*???*/
}

#frm_upload input,
#frm_upload textarea {
    width: 100%;
    background-color: e5e5e5;
}

#frm_upload select {
    width: 100%;
}

#frm_upload input[type=checkbox] {
    width: 30px;
}

#frm_upload select option,
form[name="order_form"] select option {
    /* background: #323232;*/
    background-color: E5E5E5;
}

#frm_upload select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

#frm_upload input[type="submit"] {
    width: 100%;
    padding: 0px;
}

#frm_upload input[name="name"] {
    width: 100%;
    padding: 0px;
}

/*
#id_source_button {
    width: 100% !important;
    margin-left: 45px;
}
*/

#id_source {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/*notification*/
 .active {
     background: #FFFFFF;
    width:30%;
     height:100%;
    position:absolute;
    z-index: 9999;
    right:140px;
    top: 65px;
     /*
     border-radius: 1%;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
*/
   border: 1px solid #5C5C5C;
    box-shadow: 4px 4px 10px #888888;

   }
 @media screen and (max-width: 1000px) {
  #container2{
     width: 100%;
     float: left;
    position:relative;
     border: none;
    /*box-shadow: 4px 4px 10px #888888;*/
    right:0px;
  }
  .triangle-container{
    float:left;
    width: 40px;
    position:absolute;
    top:-880px;
    right:0;
  }
  .active{
       top: 0px;
  }
}

  .container2{
    position:absolute;
    top: -1000px;
    z-index: -9999;
    background: #FFFFFF;

    }
  .message{
      margin-top: 1px;
      margin-bottom: 1px;
      padding: 4px;
      background: #FFF;
  }
    .message_header{
     margin-top: 0px;
      margin-bottom: 1%;
      padding: 1%;
    background: #FFF;

  }

  /*triangle*/
.triangle-up  div {
    float:left;
}
.triangle-container{
    float:left;
    width: 40px;
    position:absolute;
    top:-20px;
    right:0;
}
.triangle-up {
   width: 0;
  height: 0;
  border-style: solid ;
  border-width: 0px 15px 20px 15px;
  border-color: transparent transparent #FFFFFF transparent;

}
.specific-time-check{
    width: 20px;
    height:20px;
    color:#fff;
    -moz-appearance: normal;
    -webkit-appearance: normal;
    -o-appearance:default;
    border: 1px inset #5C5C5C ! important;
    margin: 0 0 0 0;
    padding: 5px 4px 3px 5px;
    /*border: 1px solid #000;*/
}
.specific-time-check:active{
  outline: none;
}



