{% extends "base_admin.html" %}

{% block scripts %}
<script type="text/javascript">

</script>

{% endblock %}

{% block content %}
<h4>Tytle<h4>
<table id="" class="">
  <thead>
    <tr>
      <!-- th>Id</th -->
      <th>Tab1</th><th>Tab2</th><th>tab3</th><th>tab4</th>
    </tr>
  </thead>
  <tbody id="">
  </tbody>
</table>
{% endblock %}
